// Theme
$theme-rick-light: #a8d5ea;
$theme-rick-dark: #4190b4;
$theme-rick-gradient: linear-gradient(to top, #4190b4, #41b4aa);
$theme-rick-gradient-light: linear-gradient(to top, #a8d5ea, #7ddbd3);
$theme-loading: #51a9b6a1;
$theme-black-solid: #1d1d1d;
$theme-gray-solid: #3a3a3a;
$theme-gray-gradient: linear-gradient(-30deg, #a5a5a5, #b6b6b6);
$theme-white-solid: #fcfcfc;
$theme-scrollbar: #797979;
$theme-scrollbar-hover: #5f5f5f;
$theme-blue: #bbe6ff;
$theme-skyblue: #e8f0fe99;

// Specific/element colors
$hover-title-solid: #303030;
$hover-title-gradient: linear-gradient(to top right, #1b1b1b, #363636);
$card-shadow: -2px 2px 10px rgba(#9b9b9b, 0.1);
$card-shadow-hover: -2px 4px 15px rgba(#747474, 0.1);
